[submodule "vendor/catch2"]
	path = vendor/catch2
	url = https://github.com/catchorg/Catch2
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "vendor/xml2json"]
	path = vendor/xml2json
	url = https://github.com/Cheedoong/xml2json
